<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/calendar.css">
    <title>Calendar</title>
</head>
<body>
    <section id="calendar_jour">
        <section id="flex">
            <div class="jours">
                Lundi
                <section class="repas_container">
                    <span class="repas_list">Lasagne</span>
                    <span class="repas_list">Sushi</span>
                </section>
            </div>
            
            <div class="jours">
                Mardi
                <section class="repas_container">
                    <span class="repas_list">Riz</span>
                    <span class="repas_list">Chili</span>
                </section>
            </div>
            
            <div class="jours">Mercredi</div>
            
            <div class="jours">Jeudi</div>
            
            <div class="jours">Vendredi</div>
            
            <div class="jours">Samedi</div>

            <div class="jours">
                Dimanche
                <section class="repas_container">
                    <span class="repas_list">Riz ----------- test</span>
                    <span class="repas_list">Lasagne</span>
                    <span class="repas_list">Chili</span>
                    <span class="repas_list">Sushi</span>
                </section>
            </div>
        </section>
    </section>
</body>
</html>