<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/recipe.css">
    <link rel="stylesheet" href="../style/common.css">
    <title>Recipe</title>
</head>
<body>
    <button id="button_retour"><img id="image_fleche" src="../style/img/retour.png" alt="Retour" title="Retour"></button>
    <section id="recipe_container">
        <section id="grid_recipe">
            <h2 id="title_chili">Chili</h2>
            <img id="image_recipe" src="../img/recipes-pictures/Chili.jfif" alt="Lasagne" title="Lasagne">
            <ul id="ingredients">
                <li>500g de boeuf haché</li>
                <li>2 gros ognions</li>
                <li>2 gousse d'ail écrasées</li>
                <li>50g de beurre</li>
                <li>1 cuillère à café de chili en poudre</li>
                <li>2 cuillère à café de cumin en poudre</li>
                <li>65g de concentré de tomate</li>
                <li>1 boîte d'haricot rouge</li>
                <li>30cl de bouillon de boeuf</li>
                <li>sel, poivre et persil</li>
            </ul>
            <ol id="etapes">
                <li>Dans une cocotte à fond épais, faites chauffer un peu d'huile. Puis faites fondre le beurre et ensuite faites dorer doucement l'oignon et l'ail.</li>
                <li>Ajoutez le bœuf haché et laissez cuire doucement pendant 10 minutes.</li>
                <li> Mélangez le chili, le cumin et le concentré de tomates. Puis, incorporez le tout au bœuf.</li>
                <li>Ajoutez les haricots et le bouillon. Puis ajoutez le sel et le poivre. Couvrez la cocotte et laissez cuire 25 minutes au four (th 6/180°C).</li>
            </ol>
        </section>
    </section>
</body>
</html>