<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../style/shopping-list.css" />
        <link rel="stylesheet" href="../style/common.css" />
        <title>Shopping List</title>
    </head>
    <body>
        <section id="shopping-list-container">
            <button id="button_retour">
                <img
                    id="image_fleche"
                    src="../style/img/retour.png"
                    alt="Retour"
                    title="Retour"
                />
            </button>
            <span id="title">
                <h1>Liste de courses</h1>
            </span>
            <section id="grid">
                <div id="list">
                    <div>
                        <h2>Fruits et légume</h2>
                        <ul>
                            <li>4 Fromages</li>
                            <li>300g Tomate pelées</li>
                            <li>400g de pommes de terre</li>
                            <li>Haricots</li>
                            <li>Maïs</li>
                            <li>2 courgettes</li>
                            <li>3 aubergines</li>
                            <li>2 proivons</li>
                            <li>3 pommes</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Épice et Aromates</h2>
                        <ul>
                            <li>2c.à.s. de sel</li>
                            <li>3-4 feuilles de basilic</li>
                            <li>2c.à.c. de romarin</li>
                            <li>1c.à.c. de paprika</li>
                            <li>1c.à.c. de cumin</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Riz, Pâtes...</h2>
                        <ul>
                            <li>250g de spagetti</li>
                            <li>500g de pâte pour lasagne</li>
                            <li>200g de riz</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Viande</h2>
                        <ul>
                            <li>500g de filet de poulet</li>
                            <li>200g de viande hachée</li>
                            <li>2 saucisses de campagne</li>
                            <li>1 poulet</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Produits laitiers</h2>
                        <ul>
                            <li>100g de fromage pour pâte</li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>
